.idea
/cnv-check/nbproject/private/
/nbproject/private/
/build/
/dist/
nbproject/
build.xml
manifest.mf
project/pt/ulisboa/tecnico/cnv/**/*.class
instrumented/pt/ulisboa/tecnico/cnv/**/*.class
BIT/BIT/*.class
WebServerLogFile.log
stats.backup.temp
